#site-navbar {
  background-color:#2D3748 !important;
}

div.main {
  min-height: calc(100vh - 90px);
}

div.full-height {
  min-height: calc(100vh - 90px);
}

a.link-no-style {
  &:hover {
    text-decoration: none;
  }
}
.min-h-content-area {
  min-height: calc(100vh - 64px);
}