.numbered-sections-list {
  margin-top: 3rem;
  .numbered-sections-list__item {
    display: flex;
    margin: 1rem;
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
    .numbered-sections-list__item__number {
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #3182CE;
      border-radius: 100%;
      color: white;
      font-weight: bold;
      margin-right: 1rem;
      margin-top: 0.25rem;
    }
    .numbered-sections-list__item__content {
      flex: 1;
      color: #4A5568;

      .numbered-sections-list__item__content__title {
        color: #2A4365;
        font-size: 1.25rem;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0 0 0.125rem;
      }
    }
  }
}

.numbered-sections-list--green {
  .numbered-sections-list__item {
    .numbered-sections-list__item__number {
      background-color: #5a67d8;
    }
    .numbered-sections-list__item__content {
      .numbered-sections-list__item__content__title {
        color: black;
      }
    }
  }
}

.section-heading {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #1A202C;

  &:after {
    content: "";
    display: block;
    width: 5rem;
    padding-top: 0.75rem;
    margin-left: 0.25rem;
    border-bottom: 6px solid #5a67d8;
  }

  &--center {
    text-align: center;
    &:after {
      margin-left: auto; margin-right: auto;
    }
  }

  &--dark {
    color: #EBF8FF;
    &:after {
      border-bottom: 6px solid #4299E1;
    }
  }
}



.light-container {
  background-color: #F7FAFC;
  padding: 4rem 0;
}

.dark-container {
  background-color: #2D3748;
  padding: 4rem 0;
}

.narrow-container {
  max-width: 42rem;
  margin: auto;
}