
@font-face {
  font-family: 'Nexa Bold';
  src: url("../fonts/Nexa Bold.otf") format("opentype");
}

@font-face {
  font-family: 'Nexa Light';
  src: url("../fonts/Nexa Light.otf") format("opentype");
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/ProximaNova-Regular.otf") format("opentype");
}
.index-booking-form {
  background-color:rgba(255, 255, 255, 0.5);
  input,
  .booking-select > div:first-child > div:first-child,
  .airport-select > div:first-child > div:first-child {
    background-color:rgba(255, 255, 255, 0.8) !important;
    &:hover {
      background-color:rgba(255, 255, 255, 1) !important;
    }
  }
  .swap-button {
    background-color: rgba(144,205,244,0.8) !important;
    &:hover {
      background-color: rgba(144,205,244,1) !important;
    }
  }
  button[type="submit"]:not(:active):not(:hover):not(:focus) {
    background-color:rgba(235,244,255, 0.8)!important;
  }

}


.navbar-brand {
  font-family: "Nexa Bold", sans-serif;
}

.large-input::-webkit-input-placeholder {
    color: white !important;
  }

.large-input:-moz-placeholder { /* Firefox 18- */
    color: white !important;
  }

.large-input::-moz-placeholder {  /* Firefox 19+ */
    color: white !important;
  }

.large-input:-ms-input-placeholder {
    color: white !important;
  }



// Style ALL links, even without href (bootstrap doesnt do this by default)
a:not([href]) {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  cursor: grab;
}

a:not([href]):hover {
  color: #0056b3;
  text-decoration: underline;
}

//.icon-stack-link {
//  color:#ccc;
//  &:hover, &:active {
//    color:white;
//  }
//
//}


.bg-full {
  background-position: top center;


  #site-navbar, footer {

    background-color: transparent !important;

  }

  .container {
    // 300px is a relatively arbitrary number. In reality, it just needs to be more than the height of the footer and navbar
    height: calc(100vh - 150px);
    overflow: hidden;
  }

  //input, select {
  //  background-color: rgba(255, 255, 255, 0.9);
  //  &:active, &:focus {
  //    background-color: rgba(255, 255, 255, 0.9);
  //  }
  //}


  .jumbotron {
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);

  }

  $breakpoint: 800px;
  @media (min-width: ($breakpoint + 1px)) {
    .index-hero-large {

      margin-top: 3%;
      font-size: 6em;
      color: #eee;

    }
    .index-hero-small {
      display: none;
    }

  }

  @media (max-width: $breakpoint) {
    .index-hero-large {

      display: none;

    }
    .index-hero-small {

      font-weight: bold;
    }
    .jumbotron {
      top: 50%;
    }
  }


  .form-label {
    font-weight: bold;
  }

}

@screen sm {
  .booking-form-left-select {
    margin-right: -14px;
  }

  .booking-form-right-select {
    margin-left: -14px;
  }
}