@font-face {
  font-family: 'Nexa Bold';
  src: url("../fonts/Nexa Bold.otf") format("opentype");
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/ProximaNova-Regular.otf") format("opentype");
}

.navbar-brand {
  font-family: "Nexa Bold", sans-serif;
}

.large-input::-webkit-input-placeholder {
    color: white !important;
  }

.large-input:-moz-placeholder { /* Firefox 18- */
    color: white !important;
  }

.large-input::-moz-placeholder {  /* Firefox 19+ */
    color: white !important;
  }

.large-input:-ms-input-placeholder {
    color: white !important;
  }



// Style ALL links, even without href (bootstrap doesnt do this by default)
a:not([href]) {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  cursor: grab;
}

a:not([href]):hover {
  color: #0056b3;
  text-decoration: underline;
}

//.icon-stack-link {
//  color:#ccc;
//  &:hover, &:active {
//    color:white;
//  }
//
//}


.bg-full {
  background-position: top center;


  #site-navbar, footer {

    background-color: transparent !important;

  }
  .container {
    // 300px is a relatively arbitrary number. In reality, it just needs to be more than the height of the footer and navbar
    height:calc(100vh - 150px);
    overflow:hidden;
  }
  //input, select {
  //  background-color: rgba(255, 255, 255, 0.9);
  //  &:active, &:focus {
  //    background-color: rgba(255, 255, 255, 0.9);
  //  }
  //}
  .flatpickr-input {
    background-color: white;
  }
  .jumbotron {
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.6);

  }
  $breakpoint: 800px;
  @media (min-width: ($breakpoint + 1px)) {
    .index-hero-large {

      margin-top: 3%;
      font-size: 6em;
      color: #eee;

    }
    .index-hero-small {
      display: none;
    }

  }

  @media (max-width: $breakpoint) {
    .index-hero-large {

      display:none;

    }
    .index-hero-small {

      font-weight:bold;
    }
    .jumbotron {
      top:50%;
    }
  }





  .form-label {
    font-weight:bold;
  }


  footer {
    color: #eee;
    .footer {
      padding: 25px 0;
      text-align: center;
    }

    .footer span.copyright {
      font-size: 90%;
      line-height: 40px;
      text-transform: none;
      font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }

    .footer ul.quicklinks {
      font-size: 90%;
      line-height: 40px;
      margin-bottom: 0;
      text-transform: none;
      font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }

    ul.social-buttons {
      margin-bottom: 0;
    }

    ul.social-buttons li a {
      font-size: 20px;
      line-height: 50px;
      display: block;
      width: 50px;
      height: 50px;
      transition: all 0.3s;
      color: #ddd;
      border-radius: 100%;
      border-color: transparent;
      outline: none;
      background-color: #ddd;
    }

    ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
      background-color: #fff;
      color: #fff;
    }
  }

  .cta {
    margin-left: 10px;
    margin-right: 10px;
  }

}