.parallax-wrapper main > :first-child {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 50vh;



}
.parallax-wrapper main > :first-child::after {
  content: " ";
  position: absolute;
  top: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  height:100vh;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
  background: url('../images/bg.jpg') center;
}
.parallax-wrapper {
  top:0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;

}